
html {
    scroll-behavior: smooth;
}
body {
   
    background-image: url(../assets/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    color: mistyrose;
    text-decoration: none; 
}
nav {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 999;
}   
.navbar {
    display: flex;
    text-align: center;
    justify-content: center;    
}
.navitems {
    display: flex;
    justify-content: center; 
}
.language {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px 0px 0px;
}

.language img {
    padding: 0px 10px;
}
.navbar li{
    padding: 20px 5px;     
}
li a{
    text-decoration: none; 
    color: white;
}
.navbar li:hover{
    background-color: grey;
    
}
header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;    
}
.logo {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;   
}
hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.intro {
    text-decoration: none;
}
.mypic {
  display: block;
  width: 60%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 50%;    
}
.mybio h1{
    font-size: 1.8em;
    text-align: center;
    color: mistyrose;  
}
.mybio h2{
    text-align: justify;
    padding: 0px 10px;
    color: mistyrose;   
}   
.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.makeup {  
    display: flex;  
    width: 45%;
    height: 50%;
    border: 5px solid ivory;
    margin: 20px 5px; 
}
.eyelashextension {
    display: flex;
    width: 45%;
    height: 50%;
    border: 5px solid ivory;
    margin: 20px 5px;  
}
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
} 
@keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
}
@keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
}
* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}
*::-webkit-scrollbar {
    width: 0;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}
* {
    -ms-overflow-style: none;
}
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.carousel {
    position: relative;
    padding-top: 80%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}
.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-image: url("../assets/carousel1.jpg");
    background-size: cover;
    counter-increment: item;
}
.carousel__slide:nth-child(2) {
    background-image: url("../assets/carousel2.jpg");
    background-size: cover;
}
  .carousel__slide:nth-child(3) {
    background-image: url("../assets/carousel3.jpg");
    background-size: cover;
}
.carousel__slide:nth-child(4) {
    background-image: url("../assets/carousel4.jpg");
    background-size: cover;
}
.carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
    z-index: -1;
}
.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center; 
}
@media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
      animation-iteration-count: infinite;
}
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
}
  }
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center; 
  }
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  .carousel__navigation-button {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: mistyrose;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    
  }
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    margin-left: 20px;
    margin-right: 20px;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  .carousel::before,
  .carousel__prev {
    left: -1rem;
    
  }
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E"); 
  }
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
.testimonials h3 {
    text-align: center;
}
.testimonials {
    text-align: justify;
    padding: 10px 10px;
    color: mistyrose; 
}
footer {
    background-color: black;
    color: white;
    justify-content: center;
}
.followus {
    padding-top: 10px;
    text-align: center;
}
.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 10px;
}
.socialmedia li{
    padding: 10px 20px;
}
.socialmedia i {
    color: white;
    font-size: 60px;
}
.contactus {
    padding-top: 10px;
    text-align: center;
}
.contact {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;  
}
.contact p{
    margin: 5px; 
    
}
.contact a{
    color: white;
    text-decoration: none;
}
footer h6{
    text-align: center;
    padding: 10px;
    opacity: 60%;
}


/* Tablet version */

@media (min-width: 600px) {

    * {
        font-size: 1.5em;
    }

    .navitems {
        justify-content: space-evenly;
        
    }
    .navitems a{
        padding: 0px 5px;
    }
    .language {
        padding-left: 50px;
    }
    .ipad {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
    }
    .logo {
        width: 35%;
    }
    .mypic {
        width: 250px;
        height: auto;
        padding: 0px 10px 0px 20px;
        
    }
    .intro {
        display: flex;
        flex-direction: row;
        padding: 0px 10px;
    }
    .mybio h1{
        font-size: 1.1em;
        width: auto;
        line-height: 1.3em;
        
    }
    .mybio h2 {
        font-size: 0.6em;
        padding-right: 20px;
        
    }
    .testimonials {
        font-size: 0.6em;
    }
    .socialmedia {
        justify-content: space-around;
    }
}

/* Desktop Version */

@media (min-width: 1240px) {
    .navitems a{
        padding: 0px 50px;
    }
    .language {
        padding-left: 100px;
    }
    .language a {
        padding: 0px 5px;
    }
    .logo {
        width: 20%;
    }
    .mybio h1 {
        font-size: 1.5em;
    }
    .mybio h2 {
        font-size: 0.9em;
    }
    .categories{
        justify-content: space-evenly;
    }
    .makeup {
        width: 20%;
    }
    .eyelashextension {
        width: 20%;
    }
    .carousel{
        padding: 15%;
        width: 150px;
        margin-left: 20px;  
    }

    .desktop {
        display: flex;
        flex-direction: row;
    }
    
    .testimonials h3 {
        font-size: 1.5em;
    }
    .individualtestimonial {
        display: flex;
        flex-direction: row;
        height: auto;
    }
    .testimonial1, .testimonial2, .testimonial3 {
        flex-direction: row;
        width: 33%;
        padding: 10px 20px;
        border: 1px solid mistyrose;
        border-radius: 15px;
        margin: 0px 10px;
        font-size: 1.3em;
        background-color: rgb(51, 50, 49);
        opacity: 50%;
        color: mistyrose;
    }
    
    .footerdesktop {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .followus {
        display: flex;
        flex-direction: row;
        padding: 40px 20px;
        justify-content: left;
        font-size: 1em;
    }
    .socialmedia {
        justify-content: left;
        padding: 20px 20px;
    }
    .socialmedia li {
        padding: 0px 20px 0px 0px;
    }
    .contactus {
        display: flex;
        flex-direction: row;
        font-size: 1em;
        padding: 40px 5px;
        
    }
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1em;
        padding: 40px 5px;
    }
    .contact a {
        padding: 0px 5px;
        justify-content: space-between;
    }
    .contact p {
        margin: 0px;
        padding: 0px 5px;
        justify-content: space-between;
    }

    }

