
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype'),
        url('fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

body {
    
    font-family: 'Raleway', sans-serif;  
    
}
nav {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 999;
}
    
.navbar {
    display: flex;
    text-align: center;
    justify-content: center;  
   
}
.navbar li{
    padding: 20px 50px;   
}