
html {
    scroll-behavior: smooth;
}

body {
    background-color: mistyrose;
    font-family: 'Raleway', sans-serif;  
    
}
nav {
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 999;
}
    
.navbar {
    display: flex;
    text-align: center;
    justify-content: center;  
   
}
.navbar li{
    padding: 20px 50px;   
}

header {
    /* display: flex; */
    /* flex-direction: row; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;  
    
}

.logo {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;   
}
hr {
    border-top: 5px solid black;
}
.intro {
    /* display: flex;
    flex-direction: row; */
}
.mypic {
  display: block;
  
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 50%;    
}
.mybio h1{
    font-size: 1.5em;
    text-align: center;
}